
@import url('https://fonts.googleapis.com/css?family=Barlow|Dosis|Karla|Quicksand|Rubik|Work+Sans');


body {
	font-family: 'Barlow', sans-serif;
	font-family: 'Work Sans', sans-serif;
	font-family: 'Dosis', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-family: 'Karla', sans-serif;

}


@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Cabin+Sketch|Fredericka+the+Great|Lilita+One|Londrina+Outline|Londrina+Solid|Nixie+One|Yeseva+One');

h1 {
	font-size: 100px;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Nixie One', cursive;
	font-family: 'Londrina Solid', cursive;
	font-family: 'Lilita One', cursive;
	font-family: 'Averia Serif Libre', cursive;
	font-family: 'Yeseva One', cursive;
	font-family: 'Londrina Outline', cursive;
}
